<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
    <title>Home2</title>
</head>
<body>
<h1 th:text="${title}">Hello</h1>
<p th:text="${msg}">main message</p>

<table>
    <tr>
        <th>ID</th>
        <th>名前</th>
        <th>年齢</th>
        <th>メール</th>
        <th>電話番号</th>
        <th>メモ</th>
    </tr>
    <tr th:each="rec : ${datalist}">
        <td th:text="${rec.id}"></td>
        <td th:text="${rec.name}"></td>
        <td th:text="${rec.age}"></td>
        <td th:text="${rec.mail}"></td>
        <td th:text="${rec.phone}"></td>
        <td th:text="${rec.memo}"></td>
    </tr>
    <tr>
        <td style="text-align: left;">
            <a th:href="${#TLHelper.prevUrl(pagenumber)}">&lt;- Prev</a>
        </td>
        <td style="text-align: center;">
            page
        </td>
        <td style="text-align: right;">
            <a th:href="${#TLHelper.nextUrl(pagenumber)}">Next -&gt;</a>
        </td>
    </tr>
</table>

</body>
</html>